.checkerLine{
	stroke : gray;
}
.cursor{
	/*width:10px;*/
	/*height:10px;*/
	stroke : black;
	stroke-linecap : round;
	stroke-width:2px;
	fill : transparent;
}
.node .subway{
	fill : white;
	stroke : black;
	cursor :pointer;
}
.node .nodeName{
	font-size:15px;
	font-family: sans-serif;
	pointer-events : none;
}

.vertex{
	fill : orange;
	cursor:pointer;
}
.vertex.selected{
	stroke : black;
}
.link{
	stroke : #2ECC71;
	stroke-width:5px;
	fill:none;
	cursor : pointer;
}
.link.selected{
	stroke : black !important;
} 
.node.preSelected circle{
	fill : black;
}
.node.selected circle{
	fill:red;
	stroke : black;
}
.hide{
	visibility:hidden;
}

/* context menu */
.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

/* inputBox */
/*.inputBox{
	position:absolute;
	font-family: Arial,Helvetica,sans-serif;
	top : 0;
	right : 0;
	left :0;
	bottom:0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	pointer-events: none;
}*/
a.close{
	float:right;
	margin-top: -30;
	/*margin-right : -30px;*/
    cursor:pointer;
    color: #fff;
    /*border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;*/
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 0px 3px; 
 	text-decoration: none;
}
.close:before{
	content: "x";
}
.inputBox:target{
	opacity: 0.5;
}
.inputBox{
	width:270px;
	position: absolute;
	/*margin: 10% auto;*/
	padding : 10px 10px 13px 20px;
	border-radius: 10px;
	background:#fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}